body {
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#map {
  height: 90%;
  width: 85%;
  border-style: solid;
  display: center;
}

.legend{
  padding: 4px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
}
.legend i {
  width: 8px;
  height: 8px;
  float: left;
  margin: 5px;
  opacity: 1;
}

#middlebox {
  float: center;
  width: 100%;
  height: 800px;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Align content horizontally to the center */
  align-items: center; /* Align content vertically to the center */
}